.color-picker-container {
    width: 100%;
    height: 100%;
}

.color-picker-container div{
    margin: 5px 0;
}

.palette-container {
    background-color: plum;
}


.hue-container {
    position: relative;
}
.hue-chooser {
    height: 20px;
    width: 100%;
}